body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5em;
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
}

.float-left {
    float: left;
}

main article {
    clear: both;
    padding-bottom: 30px;
}

header>* {
    margin: 20px 0;
}

#title {
    font-family: 'Suez One', serif;
    font-size: 30px;
    line-height: 35px;
    padding: 0 10px;
    text-decoration: none;
}

.cropper {
    width: 30px;
    height: 30px;
    margin-top: 23px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.cropper img {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

article ul {
    list-style: circle outside;
    padding: 0 16px;
}

article li {
    margin-bottom: 1px;
    word-break: break-all;
}

article {
    margin-left: 16px;
    margin-right: 16px;
}

@media screen and (min-width: 600px) {
    article {
        margin-left: 32px;
        margin-right: 32px;
    }
}
